@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 95.3%;
    --card: 0 0% 7%;
    --card-foreground: 0 0% 95.3%;
    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 95.3%;
    --primary: 178 90% 27%;
    --primary-foreground: 0 0% 95.3%;
    --secondary: 0 0% 14%;
    --secondary-foreground: 0 0% 95.3%;
    --muted: 0 0% 14%;
    --muted-foreground: 0 0% 45%;
    --accent: 338 98% 50%;
    --accent-foreground: 0 0% 95.3%;
    --destructive: 338 98% 50%;
    --destructive-foreground: 0 0% 95.3%;
    --border: 0 0% 16%;
    --input: 0 0% 16%;
    --ring: 178 90% 27%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
